@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato:ital@1&family=Montserrat&family=Noto+Sans+Linear+B&family=Open+Sans:wght@400;600&family=Oswald:wght@500&family=PT+Sans&family=Playfair+Display:ital,wght@0,500;1,400&family=Poppins:ital,wght@0,500;1,400&family=Roboto:wght@300;400&display=swap');

:root{
    --base-color: #800080

}
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: black
}
body{
    background-color: rgb(195, 184, 226);
}

ul{
    list-style: none;

}
main{
    margin: 1rem; /* 16px */
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 1rem;
}
@media (max-width: 880px){
    main {
        grid-template-columns: 1fr;
    }

}

.left {
  background-color: rgb(227, 216, 243);
  box-shadow: 0.3rem 0.3rem 0.9rem  gray ;
}

.left-image{
    position: relative;
}
.left-image img{
    width: 100%;
    transform: rotativeY(180deg);

}

.left-image h1{
    position: absolute;
    bottom: 1rem;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
}

i{
    color: var(--base-color);
}

.personal,
 .skills, 
 .langueges {
    padding: 1rem;
    line-height: 2rem;

}

.personal {
    font-size: 1.1rem;
}

progress{
    width: 100%;
    height: 1.8rem;
}

.experience, .education{
    padding: 1rem;
    background-color: rgb(227, 216, 243);
  box-shadow: 0.3rem 0.3rem 0.9rem  gray ;

}

.education{
    margin-bottom: 1rem;
}

.job {
 margin: 1.5rem 0;
}

.job-name {
    font-size: 1.1rem;
    font-weight: bold;
}

.experience p,
.education p {
    margin-top: 0.5rem;
    line-height: 1.5rem;
    text-align: justify;
}

.date {
    color: var(--base-color)
}

.date span {
    background-color: rgb(180, 180, 180);
    color: black; font-weight: bold;
    padding: 0.4rem 1rem;
    border-radius: 5px;

}

footer {
    background-color: rgb(196, 180, 241);
    padding: 1.5rem;
    color: black;
    text-align: center;
    line-height: 1.5rem;
           } 
    footer i {
        color: var(--base-color);
        margin-top: 0.5rem;
        font-size: 2rem;
    }
    
    footer a {
        text-decoration: none;
    }

    .progress {
        display: inline-block;
        width: 100%;
        height:  1rem;
        border-radius: 20px;
        background-color: lightgray;

    }
    .bar {
        border-radius: 20px;
        height: 100%;
        transition: width;
        transition-duration: 1s;
        background-color: var(--base-color);
       
    }